/* Furkan "Paşa" Çelik */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {}

    :root {
        background: rgb(35, 166, 213);
        --yeniArkaplan1: linear-gradient(-45deg, rgba(238, 119, 82, 1) 0%, rgba(231, 25, 205, 1) 27%, rgba(255, 111, 66, 1) 50%, rgba(231, 25, 205, 1) 75%, rgba(238, 119, 82, 1) 100%);
        --yeniArkaplan2: url("../img/BSEU_Wallpaper.png");

        /* Header için */
        --font_list_1: monospace, sans-serif;
        /* Button için */
        --font_list_2: "Agenor Neue", 'Open Sans', monospace, sans-serif;
        /* NavBar için */
        --font_list_3: "Agenor Neue", 'Open Sans', monospace, sans-serif;
    }
}

@layer utilities {

    /* Sayfa Geçiş Efekti */
    .gecisEffect {
        @apply transition-all duration-1000 ease-in-out;
    }

    /* Mobil Görünüm İçin */
    body {
        background: var(--yeniArkaplan1);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        @apply gecisEffect;
    }

    /* Desktop Görünüm İçin */
    @media (min-width: 640px) {
        body {
            /* Arkaplan için değerler */
            background-image: var(--yeniArkaplan2);
            background-size: none;
            animation: none;
            background-attachment: fixed;
            @apply bg-center bg-top bg-no-repeat bg-cover gecisEffect;
        }

        #divim-de-divim {
            background: rgba(52, 0, 52, 0.15);
            backdrop-filter: blur(3px);
        }
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

@layer components {

    #divim-de-divim {
        @apply justify-center min-h-screen;

        background: rgba(52, 0, 52, 0.171);
        backdrop-filter: blur(3px);

        /* https://tailwindcss.com/docs/position#fixed-positioning-elements */
        @apply relative;

        /* !!! Dış efekt değiştirilecek !!! */
        @apply shadow-md rounded-md;

        /* Responsive Ayarları | sm = 640px | 768px = md | md:basis-1/3 */
        @apply w-full sm:basis-[40rem];
    }


    #header {
        @apply sticky top-0 left-0 right-0;
    }

    #header_div {
        /* !!! Header Text Ayarları !!! */
        @apply text-primary bg-base-100;
        font-family: var(--font_list_1);
        backdrop-filter: blur(10px);
        @apply flex justify-center;

    }



    #main {
        /* @apply ; */
    }

    #main_header {
        /* !!! Dış efekt değiştirilecek !!! */
        @apply shadow-md;
        @apply flex justify-center p-5;
    }

    .main {
        /* !!! Dış efekt değiştirilecek !!! */
        @apply shadow-md;
    }

    .hidden {
        display: none;
        /* display: block; */
        /* display: flex; */
        /* display: grid; */
    }



    .main-cift {
        @apply p-6 grid grid-cols-2 gap-3 sm:gap-6;
    }

    .main-tek {
        @apply p-6 grid grid-cols-1 gap-3 sm:gap-6;
    }

    .main-tek-small {
        @apply p-6 flex justify-center;
    }

    .a-button-BSEU {
        @apply grid place-items-stretch;

        /* !!! Mobil & Desktop Görünüm İçin Değerler !!! */
        @apply rounded-full sm:rounded-lg;

        /* !!! Efekt değiştirilecek !!! */
        @apply shadow-md p-[0.1875rem];

        background-color: rgb(231, 98, 57);
        font-family: var(--font_list_2);
    }

    .a-button-BM {
        @apply grid place-items-stretch;

        /* !!! Mobil & Desktop Görünüm İçin Değerler !!! */
        @apply rounded-full sm:rounded-lg;

        /* !!! Efekt değiştirilecek !!! */
        @apply shadow-md p-[0.1875rem];

        background-color: rgb(102, 8, 143);
        font-family: var(--font_list_2);
    }

    .buttonum {
        @apply btn;
        /* !!! Desktop Görünüm İçin Değerler !!! */
        @apply rounded-full sm:rounded-lg;
    }



    #alt-nav {
        /*  Bottom Nav Classları */
        @apply btm-nav sticky bottom-0;
        /* Responsive Ayarları */
        @apply w-full sm:basis-[40rem];
    }

    #firstNav {
        @apply text-orange-500;
        @apply p-1 flex justify-center;
        font-family: var(--font_list_3);
    }

    #secondNav {
        @apply text-purple-700;
        @apply p-1 flex justify-center;
        font-family: var(--font_list_3);
    }






}